<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
  <div id="sidebar">
      <h2>Menu</h2>
      <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('projects') }}">Projects</a></li>
          <li><a href="{{ url_for('computer_science') }}">Computer Science</a></li>
          <li><a href="{{ url_for('mathematics') }}">Mathematics</a></li>
      </ul>
      {% block sidebar %}
      {% endblock %}
  </div>
  <div id="content">
    {% block head %}
    {% endblock %}
    {% block content %}
    {% endblock %}
  </div>
{% block extra_scripts %}
{% endblock %}
</body>
</html>
