{% extends "math.html" %}



{% block extra_head %}
{{ super() }}
{% endblock %}


{% block head %}
  <div id="header">Articles</div>
{% endblock %}

{% block content %}
{% endblock %}


{% block extra_scripts %}
<!--<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>-->
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script src="../static/js/files.js"></script> /script>
<script>
  fetch_files("wiltchamberian");
</script>
{% endblock %}
