{% extends "math.html" %}



{% block extra_head %}
{{ super() }}
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script src="../static/js/helper.js"></script>
<script src="../static/js/files.js"></script>
{% endblock %}


{% block head %}
  <div id="header">Articles</div>
{% endblock %}

{% block content %}
{% endblock %}


{% block extra_scripts %}
<script>
  fetch_files("wiltchamberian");
</script>
{% endblock %}
